.layout-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-base;
    height: 5rem;
    width: 100%;
    .title {
        .github{
            font-weight: 600;
            margin-right: 0.3rem;
        }
        .name{
            opacity: 0.5;
        }
        margin: 0 1rem;
        color: white;
        font-weight: 400;
        font-size: 2rem;
        //width: 20rem;
        flex: 1;
    }
    .search-container {
        padding-right: 5%;
        flex: 2;
    }
    @media all and (max-width: 774px) {
        justify-content: center;
        .title {
            position: absolute;
            opacity: 0.15;
        }
        .search-container {
            padding: 0 5%;
        }
    }
}
