.repo-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    padding: 0.3rem;
    margin: 0.25rem;
    min-width: 21rem;
    min-height: 6.5rem;
    border: solid 1px black;
    @media all and (max-width: 26.25rem) {
        margin-bottom: 0;
        min-width: 0rem;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        .repo-name {
            font-weight: 600;
        }
    }
    .body {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        .stars {
            display: inline-flex;
            width: 3.5rem;
            height: 2.5rem;
            align-items: center;
            justify-content: space-between;
            .star-icon {
                display: inline-flex;
                width: 1.2rem;
                height: 1.2rem;
                background-image: url(../assets/icons/star.svg);
                background-repeat: no-repeat;
                background-size: 1.2rem;
                background-position: center;
            }
        }
    }
    .commits {
        display: flex;
        flex-direction: column;
        .title{
            margin: 0.5rem 0 0.5rem 0;
            color: gray;
            font-size: 1.2rem;
        }
    }
    .remove-btn {
        display: inline-flex;
        align-self: flex-end;
        width: 2.5rem;
        height: 2.5rem;
        background-color: gray;
        -webkit-mask-image: url(../assets/icons/x.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 0.8rem;
        -webkit-mask-position: center;
        mask-image: url(../assets/icons/x.svg);
        mask-repeat: no-repeat;
        mask-size: 0.8rem;
        mask-position: center;
        &:hover {
            background-color: red;
        }
    }
}

.repo-card_commit {
    display: flex;
    flex-direction: column;
    min-height: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: solid 1px gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    .time-diff{
        color: gray;
    }
    .message{
        word-wrap: break-word;
    }
}
