<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Concierge Auctions Coding Challenge</title>
	</head>
	<body>
		<div id='root'>
		</div>
	</body>
</html>
